@font-face	
		{
		font-family:'goldman';
		src:url('goldman.ttf');
		}
*		
		{
		margin:0px;
		padding:0px;
		}
html		
		{
		height:100%;
		}
body		
		{
		height:100%;
		display:flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;  
		font-family:'goldman';
		background-image:linear-gradient(155deg, #000000, #343946, #4B515C);
		background-repeat:no-repeat;
		background-attachment:fixed;
		cursor:default;
		}
.s1		
		{
		font-size:50px;
		color:#5DADEC;
		text-shadow: 0px 0px 10px #222222;
		transform:translateY(-200%);
		opacity:0;
		animation:slideDown 1s forwards;
		}
.s2		
		{
		font-size:18px;
		color:#D1D5DB;
		opacity:0;
		animation:Show 3s forwards 1s;
		}
.s3		
		{
		font-size:15px;
		color:#989FAA;
		opacity:0;
		animation:Show 3s forwards 3s;
		}
div		
		{
		background-image:url('ikona.png');
		background-repeat:no-repeat;
		background-position:-256px center;
		background-color:#4B515C;
		font-size:18px;
		color:#FFFFFF;
		padding:30px 30px 30px 330px;
		margin:35px;
		line-height:2.1;
		border-style:solid;
		border-color:gray;
		border-width:1px;
		border-radius:20px;
		opacity:0;
		transition:all 1s;
		animation:Show2 2s forwards 1s;
		}
a		
		{
		display:block;
		margin-top:20px;
		font-size:22px;
		border-radius:50px;
		text-decoration:none;
		text-align:center;
		color:#4B515C;
		box-shadow:0px 0px 5px #333333;
		background-image:linear-gradient(to right, #4597FA, #881EE8, #DF7000);
		background-size:200% 100%;
		background-position:left center;
		color:#FFFFFF;
		transition:all 0.5s;
		}
a:hover		
		{
		text-shadow:0px 0px 3px #111111;
		box-shadow:0px 0px 10px #333333;
		background-position:right center;
		}
@keyframes slideDown
		{
		to	{
			opacity:1;
			transform:translateY(0);
			}
		}
@keyframes Show
		{
		to	{
			opacity:1;
			}
		}
@keyframes Show2
		{
			to
			{
			opacity:1;
			border-color:#5DADEC;
			background-position:30px center;
			}
		}